/**
 * VARIABLE OVERRIDES
 * -------------------------------------------------------------------
 */


$font-family-base: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-headings: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
$brand-primary: #105a82;
$brand-secondary: #25779c;
$header-bg: $brand-primary;
$normal: 700;
$cite-color: rgb(111, 111, 111);
$header-border: rgba($black, 0);
$header-height: calc(3rem + 1px);
$header-btn-bg: $header-bg;
$header-btn-color: #fff;
