/**
 * VARIABLE OVERRIDES
 * -------------------------------------------------------------------
 */

$font-family-headings: 'Antwerpen Small', sans-serif;
$brand-tertiary: #2058b1;
$brand-quaternary: #357961;
$brand-quinary: #f7a300;
$brand-senary: #7739a1;

$digi-pattern-border-width: .1875rem !default;
$digi-pattern-border-color: $white !default;
